/.vs
/Project08/.vs/Project08
/Project08/Project08/obj/Debug
/Project08/Project08/Properties
/Project08/Project08/App.config
/Project08/packages
/Project08/.vs
/Project08/Project08/bin/Debug
/Project08/Project08/obj/Release
*.config
/Project08/Server/obj/Debug
/Project08/Server/obj/Release
/Project08/Server/Properties
/Project08/Server/bin/Debug/Newtonsoft.Json.dll
/Project08/Server/bin/Debug/Newtonsoft.Json.xml
/Project08/Server/bin/Debug/Server.exe
/Project08/Server/bin/Debug/Server.pdb
/Project08/LogData
/Project08/Server/bin/Debug
/Project08/Server/Server.csproj
/Project08/Project08_Client/bin/Debug/net8.0-windows
/Project08/Project08_Client/obj
/Project08/Project08_Server/bin/Debug/net8.0-windows
/Project08/Project08_Server/obj
