/Project08/Project08_Client/bin/Debug/net8.0-windows
/Project08/Project08_Client/obj
/Project08/Project08_Server/bin/Debug/net8.0-windows
/Project08/Project08_Server/obj
/.vs
/Project08/.vs
/Project08/packages
/Project08/Project08_Client
/Project08/Project08_Server
